@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

.hero,
.pets-section,
.adopt,
.animal-card{
    animation:fadeIn 1s ease;
}