header {
  width: 100%;
  background: #fff7e8;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  width: 90%;
  margin: auto;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: inherit;
}

.logo h2 {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.logo h2 {
  color: #8e4e14;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 45px;
}

.nav-links a {
  text-decoration: none;
  color: #8e4e14;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #d18843;
}

.nav-links a.active {
  color: #c67b30;
  text-decoration: underline;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.btn-nav {
  text-decoration: none;
  background: #ffc292;
  color: #8e4e14;
  padding: 12px 32px;
  border-radius: 35px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-nav:hover {
  background: #ffb26d;
  transform: translateY(-2px);
}

.btn-nav.secondary {
  background: #c8ead0;
  color: #3b6849;
}

.btn-nav.secondary:hover {
  background: #88af91;
}

.menu-icon {
  display: none;
  font-size: 28px;
  color: #8e4e14;
  cursor: pointer;
}

.user-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #98520b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.user-avatar:hover {
  transform: scale(1.05);
  background-color: #7c4107;
}
